name: "phillips"
test_skus: ["072705115310"]
base_url: "https://shop.phillipspet.com"
timeout: 30
retries: 3

selectors:
  - name: "Name"
    selector: "a.cc_product_name"
    attribute: "text"
  - name: "Brand"
    selector: "div.product-brand span"
    attribute: "text"
  - name: "Weight"
    selector: ".product-weight, .weight, [data-weight], .cc_product_specs li:contains('Weight')"
    attribute: "text"
  - name: "upc"
    selector: ".//div[contains(@class,'product-upc')]//span[contains(@class,'cc_value')]"
    attribute: "text"
  - name: "Images"
    selector: "div.cc_product_image img"
    attribute: "src"

workflows:
  - action: "login"
  - action: "navigate"
    params:
      url: "https://shop.phillipspet.com/ccrz__ProductList?cartID=&operation=quickSearch&searchText={sku}&portalUser=&store=DefaultStore&cclcl=en_US"
  - action: "wait_for"
    params:
      selector: "div.cc_product_item, div.plp-empty-state-message-container"
      timeout: 10
  - action: "check_no_results"
  - action: "conditional_skip"
    params:
      if_flag: "no_results_found"
  - action: "verify"
    params:
      selector: ".//div[contains(@class,'product-upc')]//span[contains(@class,'cc_value')]"
      expected_value: "{sku}"
      match_mode: "fuzzy_number"
  - action: "extract"
    params:
      fields: ["Name", "Brand", "Weight", "Images"]

login:
  url: "https://shop.phillipspet.com/ccrz__CCSiteLogin"
  username_field: "#emailField"
  password_field: "#passwordField"
  submit_button: "#send2Dsk"
  success_indicator: "a.doLogout.cc_do_logout"

anti_detection:
  enable_captcha_detection: false
  enable_rate_limiting: false
  enable_human_simulation: true
  enable_session_rotation: false
  enable_blocking_handling: false
  rate_limit_min_delay: 1.0
  rate_limit_max_delay: 3.0
  session_rotation_interval: 100
  max_retries_on_detection: 3

validation:
  no_results_selectors:
    - "div.plp-empty-state-message-container"
    - ".no-results"
    - ".empty-search"
    - "[data-testid*='no-results']"
    - ".cc-empty-state"
  no_results_text_patterns:
    - "no results found"
    - "no products found"
    - "your search returned no results"
    - "we couldn't find any results"
    - "no items match your search"
